---
title: Fatima Camero - Project
description: My portfolio projects
img: /images/main.jpg
layout: layout/base.njk
permalink: project.html
---
<section class="projects section max-content-height" id="all-projects">
    <h2 class="section-heading">Projects</h2>      
    <div class="container">
        {% include "sections/project.njk" %}
    </div>
</section>