<section class="about section max-content-height" id="about">
    <h2 class="section-heading">About Me</h2>
    
    <div class="container">
        {% image "./src/images/tima-polish.jpg", "My profile photo", "profile-photo", "60" %}
        
        <div class="text-wrapper">
            <p class="text">My name is Fatima Camero, a self-taught web developer. I like to develop websites
                and web applications with
                JavaScript, React, and Nodejs. I enjoy working on front-end and back-end web development. I have worked with different frameworks and databases. I am a lifelong learner eager to gain more skills and continuously advance my capabilities.</p>
            <p class="text">Before getting into web development, I was a mechanical engineer then spent some time working in accounting/finance. I am currently on a journey to become a full-stack developer.</p>
            <p class="text">When I'm not studying computer science and
                web development, I love spending time with my son, training in calisthenics, and learning Mandarin.</p>
        </div>
    </div>
    <div class="link-wrapper">
        <a href="#contact" class="primary-link-wrapper">
            <div class="cap left-cap"></div>
            <p>Get in touch with me</p>
            <div class="cap right-cap"></div>
        </a>
    </div>
</section>