<section class="contact section max-content-height" id="contact">
    <h2 class="section-heading">Contact Me</h2>
    
    <form id="form" method="POST" action="https://getform.io/f/53a1ccd0-bc9f-42e6-b3ae-aefbba77d6bb">
        <div class="field-wrapper">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div class="field-wrapper">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="field-wrapper">
            <label for="message">Message</label>
            <textarea name="message" id="message" required></textarea>
        </div>
        <button type="submit" class="btn">Send Message</button>
    </form>

    

</section>