<section class="featured section max-content-height" id="featured">
    <h2 class="section-heading">Featured Projects</h2>
    
    <div class="container">
        {% include "sections/featured-project.njk" %}
    </div>

    <a href="/project.html" class="primary-link-wrapper">
        <div class="cap left-cap"></div>
        <p>See all portfolio projects</p>
        <div class="cap right-cap"></div>
    </a>

</section>