<footer class="footer section">
    <div class="footer-links-wrapper">
        <ul class="footer-links">
            <li><a href="/#about">About</a></li>
            <li><a href="/project.html">Projects</a></li>
            <li><a href="/#service">Services</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
    </div>

    <p class="">Email: <a href="mailto:fatimacamerodev@gmail.com">fatimacamerodev@gmail.com</a></p>
    <p class="">Designed and developed by &#169; 2021 Fatima Camero with <a href="https://www.11ty.dev/" target="_blank" rel="noopener">11ty</a></p>
</footer>