<section class="hero section full-screen-height" id="hero">
    <div class="text-wrapper">
        <h1 class="main-heading">Hello</h1>
        <p>My name is Fatima Camero.</p>
        <p>I create websites and web applications.</p>
    </div>

    <div class="link-container" id="hero-link-container">
        <a href="#featured" class="primary-link-wrapper">
            <div class="cap left-cap"></div>
            <p>View Featured Projects</p>
            <div class="cap right-cap"></div>
        </a>

        <a href="#service" class="primary-link-wrapper">
            <div class="cap left-cap"></div>
            <p>Work With Me</p>
            <div class="cap right-cap"></div>
        </a>
    </div>

    <div class="social-container">
        {% include "sections/social.njk" %}
    </div>
    
</section>
    