<div class="nav-wrapper">
    <nav class="nav" id="nav">
        <div class="logo-wrapper">
            <a href="/" class="logo-link">
                <img class="logo" height="32px" width="32px"src="images/flogo.svg" alt="Fatima Camero">
            </a> 
        </div>

        <div class="nav-links-wrapper" id="nav-links-wrapper">
            <ul class="nav-links" id="nav-links">
                <li><a href="/#about" id="about-nav-link">About</a></li>
                <li><a href="project.html">All Projects</a></li>
                <li><a href="/#service" id="service-nav-link">Services</a></li>
                <li><a href="/#contact" id="contact-nav-link">Contact</a></li>
            </ul>
        </div>

        <div class="hamburger-wrapper" id="hamburger">
            <div class="hamburger">
                <!-- https://www.w3schools.com/howto/howto_css_menu_icon.asp -->
                <div class="bar1" id="bar1"></div>
                <div class="bar2" id="bar2"></div>
            </div>
        </div>
        
        
    </nav>
</div>