<section class="service section max-content-height" id="service">
    <h2 class="section-heading">My Services</h2>
    <p class="tagline-italic">Need a website?</p>
    <p class="tagline">I can work with you to develop, launch, and maintain the website for your business or brand.</p>
    
    <div class="container">
        <div class="service-wrapper">
            <h3 class="sub-section-heading">Responsive Design</h3>
            <p class="main-text">Your content will look great on any device. I can optimize the design for mobile and desktop.</p>
        </div>
        <div class="service-wrapper">
            <h3 class="sub-section-heading">Designed for Accessibilty</h3>
            <p class="main-text">Your website will be accessible to all because it will be developed in accordance
                    with WCAG requirements. With an accessible website you will reach a larger audience.</p>
        </div>
        <div class="service-wrapper">
            <h3 class="sub-section-heading">SEO Optimization</h3>
            <p class="main-text">The exposure of your website will be increased with SEO optimization. You will get more traffic and will be easier to find.</p>
        </div>
    </div>

</section>