---
title: Fatima Camero
description: Fatima Camero - Web developer portfolio
img: /images/main.jpg
layout: layout/base.njk
---
{% include "sections/hero.njk" %}
{% include "sections/about.njk" %}
<div class="divider"></div>
{% include "sections/featured.njk" %}
<div class="divider"></div>
{% include "sections/stack.njk" %}
<div class="divider"></div>
{% include "sections/service.njk" %}
<div class="divider"></div>
{% include "sections/contact.njk" %}
<div class="divider"></div>
